[Unit]
Description=Create scheduled Todoist tasks

[Service]
Type=oneshot
WorkingDirectory=%h/benni-projects/task-planner
EnvironmentFile=%h/.config/task-planner/environment
ExecStart=/usr/bin/env pnpm run run
